body{
    font-size: 20 ;
    font-family: cursive ;
}
.titulo{
    background-color: coral;    
}
.paragrafo{
    background-color: darkseagreen;
}
.cor01{
    background-color: turquoise ;
}
.cor02{
    background-color: tomato;
}
.cor03{
    background-color: cornflowerblue;
}