*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}
ul{
    list-style: none;
    background-color: darkolivegreen;
}
li{
    margin: 2px 20px;
    padding: 0 50px;
    display: inline-block;
}
a{
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: capitalize;
}
a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    letter-spacing: 1.25rem;
    font-size: 1.5rem;
}
span{
    padding: 2px 30px;
    margin: 10px 80px;
    border: 5px solid #fff;
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;

}