*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul{
    list-style-type: none;

}
li{
    margin: 2px 20px;
    padding: 20px;
    border: none;
background-color: cornflowerblue;
}
a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 5px;
    line-height: 50px;
}
a:hover{
  border-bottom:2px solid #ffffff ;
  padding: bottom 5px; 
  letter-spacing: 20px;
  font-size: 24px;
   
}