footer {
  background-color: var(--footer-background-color);
  color: white;
  width: 100%;
  min-height: 80px;
  padding: 20px;
  text-align: center;
  border-top: 5px solid var(--header-border-color);
}