nav {
  background-color: var(--nav-background-color); 
  min-height: 50px;
  padding: 10px;
  border-radius: 5px; 
}
nav ul {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center;
  list-style: none; 
  height: 100%;
  gap: 25px; 
}
nav a {
  color: var(--white-color);
  text-decoration: none;
  font-weight: bold;
}