.container{
    background-color: rgba(100, 0 ,0 ,0.2);
    display: flex;
}
.container02{
    background-color: rgba(0, 100,100,0.3);
    height: 450px;
    margin-top: 20px;
    display: flex;
}
.item{
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    width: 200px;
}
.red{
    background-color: rgba(255,0,0,0.5);
}
.green{
    background-color: rgba(0,255,0,0.5);
}
.blue{
    background-color: rgba(0,0,255,0.5);
}
.item01{
}
.item02{
}
.item04{
}
