*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2{
    margin: 50px;
    text-align: center;

}
p{
    margin: 20px auto;
    padding: 20px;
    border: 1px solid blueviolet;
    width: 50%;
}
.text{
    line-height: 50px;
    text-indent: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    background-color: blueviolet;
    color: #ffffff;
}
span{
    color: coral;
    font-weight: bold;
    font-size: 32px;
    text-transform: lowercase;
    text-decoration: underline;
}