div {
 height:60px;
 font-weight: 900;
 text-align: center;
 font-size:20px ;
 color: white;
}
.box01{
    background-color: lightblue;
}
.box02 {
    background-color: darkcyan;
}
.box03 {
    background-color: tomato;
}
.box04{
    background-color: slateblue;
    color: white;
}