    .container01 {
        border: 1px solid;
        width: 100%;
        height: 80px;
        display: flex;
    }

    .container02 {
        border: 1px solid;
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row-reverse;
    }

    .container03 {
        border: 1px solid;
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
    }
    .container04 {
        border: 1px solid;
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column-reverse;
    }
    div {
        width: 50px;
        height: 50px;
        margin: 5px;
    }

    .box01 {
        background-color: blueviolet;
    }

    .box02 {
        background-color: cornflowerblue;
    }

    .box03 {
        background-color: crimson;
    }