* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}
.card {
    width: 250px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;  
}
.card img {
    width: 100%;
    height: 200px;
}
.card-content {
    padding: 20px;
}
.card-content h3 {
    font-size: 28px;
    margin-bottom: 10px;
}
.card-content p {
    font-size: 16px;
    color: #8d8b8b;
    line-height: 1.3;
} 
.card-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}
.card-btn:hover {
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
}  